@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 250 236 210;
  --foreground-rgb: 10 4 0;
  --accent-rgb: 254 64 23;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: rgb(var(--background-rgb)); */
  min-height: 100svh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
