@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 245 228 201;
  --foreground-rgb: 10 4 0;
  --accent-rgb: 254 64 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
  min-height: 100svh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
